body{
background:#0f172a;
color:white;
font-family:Arial;
margin:0;
}

.container{
width:92%;
margin:auto;
}

h1{
text-align:center;
margin:20px;
}

.searchBox{
display:flex;
justify-content:center;
gap:10px;
margin-bottom:20px;
}

.searchBox input{
padding:10px;
border-radius:10px;
border:none;
width:220px;
}

.searchBox button{
background:#3b82f6;
border:none;
padding:10px 18px;
color:white;
border-radius:10px;
}

.topSection{
display:flex;
gap:15px;
margin-bottom:20px;
}

.cityCard{
background:#1e293b;
padding:20px;
border-radius:15px;
flex:1;
}

.aqiCard{
background:linear-gradient(135deg,#f97316,#ef4444);
width:120px;
height:120px;
border-radius:50%;
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
color:white;
font-weight:bold;
}

.aqiCard h3{
margin:0;
font-size:18px;
}

.aqiCard h1{
margin:0;
font-size:32px;
}

.healthCard{
background:#1e293b;
padding:20px;
border-radius:15px;
flex:1;
}

.pollutionCards{
display:grid;
grid-template-columns:repeat(2,1fr);
gap:12px;
margin-bottom:20px;
}

.pollCard{
background:#1e293b;
padding:12px;
border-radius:12px;
text-align:center;
font-size:14px;
}

.pollCard h3{
margin:0;
font-size:16px;
}

.pollCard p{
margin-top:6px;
font-size:15px;
}

.red{border-bottom:4px solid red;}
.orange{border-bottom:4px solid orange;}
.blue{border-bottom:4px solid #3b82f6;}
.green{border-bottom:4px solid #22c55e;}
.purple{border-bottom:4px solid #6366f1;}

.graphCard{
background:#1e293b;
padding:18px;
border-radius:15px;
margin-bottom:20px;
}

.forecastCard{
background:#1e293b;
padding:18px;
border-radius:15px;
margin-bottom:20px;
}

.forecastRow{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:8px;
}

.forecastBox{
background:#334155;
padding:10px;
border-radius:8px;
text-align:center;
}

.bottomSection{
display:flex;
flex-direction:column;
gap:20px;
}

.mapCard{
background:#1e293b;
padding:18px;
border-radius:15px;
}

#map{
width:100%;
height:300px;
border-radius:14px;
}

.tipsCard{
background:#1e293b;
padding:18px;
border-radius:15px;
margin-top:10px;
}

.tipsCard ul{
padding-left:18px;
}

.tipsCard li{
margin-bottom:10px;
}
/* HEALTH SECTION */

.healthSection{
display:grid;
grid-template-columns:1fr 1fr;
gap:15px;
margin-bottom:20px;
}

.healthAdviceCard{
background:#1e293b;
padding:20px;
border-radius:16px;
display:flex;
flex-direction:column;
justify-content:center;
}

.healthRecCard{
background:#1e293b;
padding:20px;
border-radius:16px;
}

.healthItem{
background:#2a3448;
padding:12px 15px;
border-radius:12px;
margin-top:10px;
font-size:14px;
}



