body{
background:#0f172a;
color:white;
font-family:Arial;
margin:0;
}

.container{
width:92%;
margin:auto;
}

/* TITLE */

h1{
text-align:center;
margin:20px;
}

/* SEARCH */

.searchBox{
display:flex;
justify-content:center;
gap:10px;
margin-bottom:20px;
}

.searchBox input{
padding:10px;
border-radius:10px;
border:none;
width:220px;
}

.searchBox button{
background:#3b82f6;
border:none;
padding:10px 18px;
color:white;
border-radius:10px;
}

/* TOP SECTION */

.topSection{
display:flex;
gap:15px;
margin-bottom:20px;
}

.cityCard{
background:#1e293b;
padding:20px;
border-radius:15px;
flex:1;
}

.aqiCard{
background:linear-gradient(90deg,#f97316,#ef4444);
padding:25px;
border-radius:100px;
text-align:center;
width:110px;
display:flex;
flex-direction:column;
justify-content:center;
}

.healthCard{
background:#1e293b;
padding:20px;
border-radius:15px;
flex:1;
}

/* POLLUTION CARDS */

.pollutionCards{
display:grid;
grid-template-columns:repeat(2,1fr);
gap:12px;
margin-bottom:20px;
}

.pollCard{
background:#1e293b;
padding:12px;
border-radius:12px;
text-align:center;
font-size:14px;
}

.pollCard h3{
margin:0;
font-size:16px;
}

.pollCard p{
margin-top:6px;
font-size:15px;
}

/* COLORS */

.red{border-bottom:4px solid red;}
.orange{border-bottom:4px solid orange;}
.blue{border-bottom:4px solid #3b82f6;}
.green{border-bottom:4px solid #22c55e;}
.purple{border-bottom:4px solid #6366f1;}

/* GRAPH */

.graphCard{
background:#1e293b;
padding:18px;
border-radius:15px;
margin-bottom:20px;
}

/* FORECAST */

.forecastCard{
background:#1e293b;
padding:18px;
border-radius:15px;
margin-bottom:20px;
}

.forecastRow{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:10px;
}

.forecastBox{
background:#334155;
padding:12px;
border-radius:8px;
text-align:center;
}

/* BOTTOM SECTION */

.bottomSection{
display:grid;
grid-template-columns:1fr 1fr;
gap:15px;
}

/* MAP */

.mapCard{
background:#1e293b;
padding:18px;
border-radius:15px;
}

#map{
width:100%;
height:300px;
border-radius:12px;
}

/* QUICK TIPS */

.tipsCard{
background:#1e293b;
padding:18px;
border-radius:15px;
}

.tipsCard ul{
padding-left:18px;
}

.tipsCard li{
margin-bottom:10px;
line-height:1.4;
}

/* MAP LEGEND */

.legend{
background:#1e293b;
padding:10px;
border-radius:10px;
color:white;
font-size:12px;
}

.legend i{
width:14px;
height:14px;
float:left;
margin-right:6px;
opacity:0.8;
}
