<!DOCTYPE html>
<html>

<head>

<title>AI Air Pollution Predictor</title>

<style>

body{
font-family:Arial;
background:#0f172a;
color:white;
text-align:center;
padding-top:40px;
}

.box{
background:#1e293b;
padding:30px;
border-radius:10px;
width:400px;
margin:auto;
}

input{
width:80%;
padding:10px;
margin:10px;
}

button{
padding:10px 20px;
background:#38bdf8;
border:none;
cursor:pointer;
}

.result{
margin-top:20px;
}

</style>

</head>

<body>

<h1>🌍 AI Air Pollution Forecast System</h1>

<div class="box">

<form method="POST">

<input type="text" name="city" placeholder="Enter City or Village" required>

<br>

<button type="submit">Check Air Quality</button>

</form>

{% if city %}

<div class="result">

<h2>City: {{city}}</h2>

<h3>Current AQI: {{aqi}}</h3>

<h3>Status: {{status}}</h3>

<p>{{recommendation}}</p>

<h3>Future AQI Forecast</h3>

<ul>
<li>Next Hour: {{future_aqi[0]}}</li>
<li>2 Hours: {{future_aqi[1]}}</li>
<li>3 Hours: {{future_aqi[2]}}</li>
<li>4 Hours: {{future_aqi[3]}}</li>
<li>5 Hours: {{future_aqi[4]}}</li>
</ul>

</div>

{% endif %}

</div>

</body>

</html>
